---
import AuthLayout from "../layouts/AuthLayout.astro";
---

<AuthLayout>
  <h1 class="text-black dark:text-white text-2xl sm:text-3xl font-bold mb-4">
    Envía dinero
  </h1>
  <Form />
</AuthLayout>
