---
import AuthLayout from "../layouts/AuthLayout.astro";
---

<AuthLayout>
  <h1 class="text-white text-3xl font-bold mt-20">Settings</h1>
  <p class="text-white text-lg mt-5">Comming soon</p>
</AuthLayout>
