---
const { href } = Astro.props;
---

<a
  href={href}
  class="inline-flex flex-col items-center justify-center px-5 text-light rounded-lg dark:text-dark hover:bg-light_hover dark:hover:bg-dark_hover hover:text-black dark:hover:text-white group"
>
  <slot />
</a>
