---
import SendIcon from "@/icons/Send.astro";
import TransactionIcon from "@/icons/Transactions.astro";
import PendingIcon from "@/icons/Pending.astro";
import SettingsIcon from "@/icons/Settings.astro";
import SunIcon from "@/icons/Sun.astro";
import MoonIcon from "@/icons/Moon.astro";
import LogOutIcon from "@icons/LogOut.astro";

import { SignOut } from "auth-astro/components";

import SideBarOption from "@/components/SideBarOption.astro";
import BottomNavOption from "@/components/BottomNavOption.astro";
---

<!-- Desktop bar -->
<aside
  class="fixed top-0 left-0 z-40 h-screen -translate-x-full md:-translate-x-2 transition-transform sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full overflow-y-auto bg-dark dark:bg-light">
    <ul class="font-medium">
      <SideBarOption name="send" href="">
        <SendIcon />
        <span class="ms-3 md:block hidden">Enviar</span>
      </SideBarOption>

      <SideBarOption name="transactions" href="transactions">
        <TransactionIcon />
        <span class="ms-3 md:block hidden">Transacciones</span>
      </SideBarOption>

      <SideBarOption name="pending" href="pending">
        <PendingIcon />
        <span class="ms-3 md:block hidden">Pendientes</span>
      </SideBarOption>

      <SideBarOption name="settings" href="settings">
        <SettingsIcon />
        <span class="ms-3 md:block hidden">Ajustes</span>
      </SideBarOption>

      <SignOut
        class="m-3 flex items-center px-6 py-6 text-light rounded-lg dark:text-dark hover:bg-light_hover dark:hover:bg-dark_hover hover:text-black dark:hover:text-white group"
      >
        <LogOutIcon />
        <span class="ms-3 md:block hidden">Cerrar sesión</span>
      </SignOut>
      <div class="fixed bottom-0">
        <li>
          <button
            type="button"
            id="theme-selector"
            class="m-3 flex items-center px-6 py-6 text-light rounded-lg dark:text-dark hover:bg-light_hover dark:hover:bg-dark_hover hover:text-black dark:hover:text-white group"
          >
            <SunIcon />
            <MoonIcon />
          </button>
        </li>
      </div>
    </ul>
  </div>
</aside>

<!-- Mobile bar -->
<nav
  class="fixed bottom-0 left-0 z-50 w-full h-16 border-t dark:border-dark_hover bg-dark dark:bg-light -translate-x-0 sm:translate-y-full"
>
  <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
    <BottomNavOption href="send">
      <SendIcon />
      <span class="mt-1">Enviar</span>
    </BottomNavOption>
    <BottomNavOption href="transactions">
      <TransactionIcon />
      <span class="mt-1">Transacciones</span>
    </BottomNavOption>
    <BottomNavOption href="pending">
      <PendingIcon />
      <span class="mt-1">Pendientes</span>
    </BottomNavOption>
    <BottomNavOption href="settings">
      <SettingsIcon />
      <span class="mt-1">Ajustes</span>
    </BottomNavOption>
  </div>
</nav>
