---
interface Props {
  title: string;
}

import "@fontsource-variable/inter";
import ViewTransitions from "astro/components/ViewTransitions.astro";

const { title } = Astro.props;
---

<!doctype html>
<html class="dark" lang="es">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100 dark:bg-gray-700">
    <slot />
  </body>
</html>

<style>
  body {
    font-family: "Inter", system-ui, sans-serif;
  }
</style>

<script>
  document.getElementById("theme-selector")?.addEventListener("click", () => {
    if (localStorage.theme === "dark") {
      localStorage.theme = "light";
      document.documentElement.classList.remove("dark");
    } else {
      localStorage.theme = "dark";
      document.documentElement.classList.add("dark");
    }
  });
</script>
